div.status{background-color:#224422;border:solid 1px #669966;color:#aaccaa;}div.warning{background-color:#666633;border:solid 1px #aaaa44;color:#ccccaa;}div.error{background-color:#663333;border:solid 1px #bb6666;color:#ccaaaa;}
.column-block,.sidebar .block{-khtml-border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
.comment,.node{-khtml-border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
